header {
  background-color: AliceBlue;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.60);
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  background-color: AliceBlue;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #002243;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.35em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 2.00em;
  font-weight: 430;
  text-align: center;
}

h3 {
  font-size: 1.45em;
  font-weight: 420;
}

h4 {
  font-size: 1.45em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #002243;
  text-decoration: none;
}

a:hover {
  color: DarkCyan;
  text-decoration: underline;
}

a:visited {
  color: SteelBlue;
}

a:active {
  color: DarkCyan;
}

a:hover,
a:focus {
  color: SteelBlue;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #002243;
  color: AliceBlue;
  font-weight: 400;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  border-bottom: 2px solid #23415a;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #002243;
  text-transform: uppercase;
  border: 3px solid #002243;
}

.button.contact:hover {
  background-color: #002243;
  color: SteelBlue;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 27px 0;
}

#hero h1 {
  text-align: center;
}

#hero span {
  text-align: center;
}

.center {
  text-align: center;
}

.logo {
  max-width: 100px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #LightSteelBlue
}

nav > ul > li > a:visited {
  text-transform: underline;
  width: 100%;
  color: #DarkCyan
}

#hero {
  background-color: AliceBlue;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
}

  nav {
    width: auto;
    float: inherit;
    margin-top: 40px;
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframe cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
